# Specify filepatterns you want git to ignore.
__pycache__/
.idea/
.vscode/
.history/
mlruns/
pdf/
txt/
valid/
labels/
.ipynb_checkpoints/
pubmed.sqlite
*.xml
*.csv
nlp_qa_project-master/
my_model/
.airflow/
anaconda3/chart/
data/
finetune/
QuestionGeneration/
.mypy_cache/